# Sentiment Analysis

In [7]:
%load_ext autoreload
%autoreload 2

In [13]:
  %reload_ext autoreload

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
from plot import create_plot

In [10]:
hist_dict = {}
stoks = ['MSFT','AAPL', 'GOOG', 'NVDA', 'TSLA']
for s in stoks:
    tkr = yf.Ticker(s)
    history = tkr.history(period='5y')
    hist_dict[s] = history

In [29]:
app = create_plot(hist_dict)
app.run()

# Data Scraping

                                 Open         Low
Date
2019-07-01 00:00:00-04:00   49.019693   48.411681
2019-07-02 00:00:00-04:00   48.595045   48.582980
2019-07-03 00:00:00-04:00   49.046241   48.903890
2019-07-05 00:00:00-04:00   49.063129   48.954553
2019-07-08 00:00:00-04:00   48.450294   47.871238
...                               ...         ...
2024-06-25 00:00:00-04:00  209.149994  208.610001
2024-06-26 00:00:00-04:00  211.500000  210.639999
2024-06-27 00:00:00-04:00  214.690002  212.350006
2024-06-28 00:00:00-04:00  215.770004  210.300003
2024-07-01 00:00:00-04:00  212.130005  211.919998

[1259 rows x 2 columns]